# Virtual Environment
venv/
.env/
 
# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
 
# Streamlit Cache
.streamlit/
 
# VS Code
.vscode/
 
# PyCharm
.idea/
 
# OS Files
.DS_Store
Thumbs.db
 
# Logs
*.log
 
.env