<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Movie Booking System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="hero">

    <div class="overlay">

        <h1>🎬 Movie Booking System</h1>

        <p>Book tickets, explore movies, check showtimes instantly</p>

        <a href="/chatbot" class="btn">
            Open AI Assistant
        </a>

    </div>

</div>

</body>
</html>